w html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form th:action="@{/member/update}" method="post" th:object="${info}" name="updateForm">
        id: <input type="text" th:field="*{memberId}" readonly="readonly">
        email: <input type="text" th:field="*{memberEmail}" >
        password: <input type="text" id="memberPassword">
        name: <input type="text" th:field="*{memberName}" readonly="readonly">
        age: <input type="text" th:field="*{memberAge}">
        <input type="button" value="수정" onclick="update()">
    </form>
</body>
	<script th:inline="javascript">
	    const update = () => {
	        const passwordDB = /*[[${info.memberPassword}]]*/ '';
	        const password = document.getElementById("memberPassword").value;
	        if (passwordDB == password) {
	            document.updateForm.submit();
	        } else {
	            alert("비밀번호가 일치하지 않습니다!");
	        }
	    }
	</script>

</html>