<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/defaultLayout}">
<head>
    <th:block layout:fragment="title">
        <title>NomardLog | 내정보수정</title>
    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <div class="page-wrap memberupdate">
        <div class="container">
            <div class="main-title-area">
                <h2 class="main-title">내정보수정</h2>
                <p class="sub-title">개인정보를 업데이트 하세요.</p>
            </div>

            <form th:action="@{/member/update}" method="post" th:object="${info}" name="updateForm"/>
            <ul>
                <li class="mb-3">
                    id: <input type="text" th:field="*{memberId}" readonly="readonly"/>
                </li>
                <li class="mb-3">
                    email: <input type="text" th:field="*{memberEmail}" />
                </li>
                <li class="mb-3">
                    password: <input type="password" id="memberPassword"/>
                </li>
                <li class="mb-3">
                    name: <input type="text" th:field="*{memberName}" readonly="readonly"/>
                </li>
                <li class="mb-3">
                    age: <input type="text" th:field="*{memberAge}"/>
                </li>
            </ul>

            <div class="d-grid gap-2 mt-5">
                <input type="button" value="수정완료" onclick="update()"/>
            </div>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        const update = () => {
         const passwordDB = /*[[${info.memberPassword}]]*/ '';
         const password = document.getElementById("memberPassword").value;
         if (passwordDB == password) {
             document.updateForm.submit();
         } else {
             alert("비밀번호가 일치하지 않습니다!");
         }
     }
    </script>
</th:block>
</body>

</html>